<p> 
Hello [name]!
</p><p> 
You’ve been invited to join GCE Community. You can use it to raise requests and get help. To set up your account, simply click on link:
<a
  href="https://gce-community-app.web.app/auth/register-invited/<%= code %>"
  target="_blank"
  class="v-button"
  style="
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    text-align: center;
    color: #ffffff;
    background-color: #18163a;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    width: auto;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    mso-border-alt: none;
    font-size: 14px;
  "
>
  <span style="display: block; padding: 15px 40px; line-height: 120%"
    ><span style="font-size: 18px; line-height: 21.6px"> Register Now </span>
  </span>
</a>
</p><p> 
Hope you will find [customer portal] useful!
</p><p> 
Best</p><p> 
The GCE Community team
</p> 